# leetcode

## Implementation ##
Name rule #Index#.#Function#.go
Index represents the number in leecode

## Test case ##
Name rule #Index#.#Function#_test.go

## Common definitions ##
All append into def.go

## All completed questions ##

<!--STA-->

<!--END-->
